<template>
  <section class="section">
    <div class="container">
      <Row>
        <Column :size="6" :offset="3">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{ pizza.label }}
              </p>
              <a class="card-header-icon" href="#items" aria-label="toggle" @click="hidden = !hidden">
                <span class="icon">
                  <i class="fas fa-angle-down"></i>
                </span>
              </a>
            </header>

            <div id="items" :class="['card-content', { 'is-hidden': hidden }]">
              <div class="content">
                <table class="table is-hoverable">
                  <tbody>
                    <tr v-for="(item, idx) in pizza.items" :key="idx">
                      <td>{{ item }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </Column>
      </Row>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import { Row, Column } from '@/components/ui';

export default {
  components: {
    Row,
    Column
  },
  data() {
    return {
      hidden: false
    };
  },
  computed: {
    ...mapGetters({
      pizzaWithId: 'getPizzaById'
    }),
    pizza() {
      return this.pizzaWithId(this.$route.params.id);
    }
  },
  mounted() {
    if (!this.pizza) {
      this.$router.push({ name: 'home' });
    }
  }
};
</script>
