<template>
  <section class="section">
    <div class="container">
      <Row>
        <Column :size="6" :offset="3">
          <Profile />
        </Column>
      </Row>
      <Row>
        <Column :size="6" :offset="3">
          <Credentials />
        </Column>
      </Row>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import { Row, Column } from '@/components/ui';
import { mixinRedirect } from '@/mixins';
import Profile from './Profile';
import Credentials from './Credentials';

export default {
  mixins: [mixinRedirect],
  components: {
    Row,
    Column,
    Profile,
    Credentials
  },
  computed: {
    ...mapGetters({
      token: 'getToken'
    }),
    isConnected() {
      return !!this.token;
    }
  },
  mounted() {
    this.redirect(!this.isConnected, 'login');
  }
};
</script>
