<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#fafcfe" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.png" sizes="192x192" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Tests" />
    <title>PizzApp</title>
    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
  </head>
  <body>
    <noscript>
      <strong>You need to enable JavaScript to run this app</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
