<template>
  <button
    :class="['button', {
      [`is-${color}`]: color,
      'is-light': lighten,
      'is-outlined': outlined,
      'is-fullwidth': filled
    }]"
    :type="type"
    @click="$emit('click')"
    :disabled="disabled">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    color: String,
    lighten: Boolean,
    outlined: Boolean,
    filled: Boolean,
    type: String,
    disabled: Boolean
  }
};
</script>
