<template>
  <div class="field">
    <label v-if="label" class="label">{{ label }}</label>
    <div class="control">
      <input
        :class="['input', { 'is-danger': error }]"
        :name="name"
        :type="type"
        :placeholder="placeholder"
        :value="value"
        @input="$emit('input', $event)">
    </div>
    <p v-if="error" class="help is-danger">{{ error }}</p>
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    name: String,
    type: {
      type: String,
      default: 'text'
    },
    placeholder: String,
    value: [Number, String],
    error: String
  }
};
</script>
